<main class="contenedor contenedor-formularios no-padding">
    <h1><%= nombrePagina %></h1>
    <form action="/nuevo-grupo" method="POST" class="default-form">
        <div class="campo">
            <label>Nombre</label>
            <input type="text" name="nombre" placeholder="Nombre Grupo">
        </div>
        <div class="campo">
            <label>Descripcion</label>
            <div class="contenedor-editor">
                <input type="hidden" id="x" name="descripcion">
                <trix-editor input="x"></trix-editor>
            </div>
        </div>
        <div class="campo">
            <label>Categorias</label>
            <select name="categoriaId">
                <option value="" selected disabled>Selecciona una categoria</option>
                <% categorias.forEach(categoria => { %>
                    <option value="<%= categoria.id %>"><%= categoria.nombre %></option>
                <%})%>
            </select>
        </div>
        <div class="campo">
            <label>Imagen</label>
            <input type="file" name="imagen">
        </div>
        <div class="campo">
            <label>Sitio web</label>
            <input type="url" name="url" placeholder="Sitio web">
        </div>
        <div class="campo enviar">
            <input type="submit" value="Crear Grupo" class="btn btn-rosa">
        </div>
    </form>
</main>