<h1 style="
    text-align: center;
    font-family: Arial, Helvetica;
">Confirmar tu cuenta</h1>
<p style="font-family:Arial, Helvetica">Hola, estas a un paso de crear una comunidad en Meeti</p>
<p style="font-family:Arial, Helvetica">Solamente deben de confirmar tu cuenta en el siguiente enlace:</p>
<a style="display: block;
font-family: Arial, Helvetica;
padding: 1rem;
background-color: #00C897;
color: white;
text-transform: uppercase;
text-align: center;
text-decoration: none;" href="<%= url %>">Confirmar tu cuenta</a>

<p style="font-family:Arial, Helvetica">Si no puedes acceder a este enlace, visita: <%= url %></p>
<p style="font-family:Arial, Helvetica">Si no solicitaste este correo, puedes ignorarlo</p>